// Colors
$primary-color: tomato;
$black-color: rgb(0, 0, 0);
$white-color: #eee;
$purple-color: rgb(117, 0, 146);
$light-dark: rgb(77, 70, 70);
$dark-green: rgb(10, 59, 25);
$dark-red: rgb(134, 23, 47);
$cream: rgb(247, 236, 223);
$blue: rgb(16, 50, 78);
$light-blue: rgba(51, 102, 164, 0.466);

